* {
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    margin: 0;
    background-color: #ecf0f1;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                        Header et barre de navigation                       */
/* -------------------------------------------------------------------------- */

#header {
    padding: 0.5em 1.5em;
    grid-row: 1;
    grid-column: 1/4;
    background-color: #ff7675;
}

#header>a {
    color: white;
    font-size: 2.5em;
}

#navigation {
    grid-row: 2;
    grid-column: 1/4;
    background-color: #2980b9;
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row;
    min-height: 48px;
}

#navigation a,
#navigation button {
    font-family: Montserrat, sans-serif;
    font-size: 1.2em;
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    border: none;
    background-color: #2980b9;
    cursor: pointer;
}

#navigation a {
    display: flex;
    align-items: center;
}

#logout>span,
#avatar {
    margin-right: 5px;
}

#navigation a:hover,
#navigation button:hover {
    background-color: #2d3436;
}

#loginDropdown {
    margin-left: auto;
    position: relative;
    display: inline-block;
}

#loginButton {
    height: 100%;
}

#user {
    margin-left: auto;
    display: inline;
}

#user>img,
#user>span,
#user>i {
    vertical-align: middle;
}

#avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#loginDropdownContent {
    width: 300%;
    display: none;
    position: absolute;
    left: -100%;
    z-index: 1;
}

#loginDropdownContent>form {
    border-radius: 5px;
    margin-top: 16.5px;
    position: relative;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #dfe6e9;
    border: 3px solid #636e72;
    display: flex;
    flex-flow: column;
    align-self: center;
    padding: 0 1em;
    padding-bottom: 0.8em;
}

#loginDropdownContent>form::after,
#loginDropdownContent>form::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}

#loginDropdownContent>form::after {
    border-color: rgba(223, 230, 233, 0);
    border-bottom-color: #dfe6e9;
    border-width: 15px;
    margin-left: -15px;
}

#loginDropdownContent>form::before {
    border-color: rgba(99, 110, 114, 0);
    border-bottom-color: #636e72;
    border-width: 19px;
    margin-left: -19px;
}

#loginDropdownContent>form>input {
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
    border-radius: 3px;
    border: 1px solid #2c3e50;
}

#loginDropdown:hover #loginDropdownContent,
#loginDropdown:focus-within #loginDropdownContent {
    display: block;
}

#loginDropdownContent input:invalid {
    box-shadow: none;
}

#loginDropdownContent input:focus:required {
    border-color: #2980b9;
    box-shadow: 0px 0px 1px 1px #3498db
}

#loginDropdownContent input[type=submit] {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #34495e;
}

#loginDropdownContent input[type=submit]:hover {
    background-color: #2980b9;
}

#messageBox {
    padding: 10px;
    align-self: center;
    margin-bottom: 20px;
    background-color: #aff0c4;
    border-radius: 3px;
    color: #009432;
    border: 1px solid #009432;
}

/* -------------------------------------------------------------------------- */
/*                                 Formulaires                                */
/* -------------------------------------------------------------------------- */

.form {
    border-radius: 3px;
    border: 1px solid #2c3e50;
    padding: 1.5em;
    background-color: #dfe6e9;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    justify-self: center;
    grid-column: 2;
    display: flex;
    flex-flow: column;
    width: 90%;
    max-width: 600px;
}

.form>h1 {
    align-self: center;
    margin: 0;
}

#signIn {
    font-size: 0.8em;
    align-self: center;
    margin-bottom: 25px;
}

#signIn>a {
    color: #2980b9;
}

.form input:not([type=submit]) {
    font-family: Montserrat, sans-serif;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #2c3e50;
}

.form input:not([type=submit]):focus,
.form textarea:focus {
    border-color: #2980b9;
    box-shadow: 0px 0px 1px 1px #3498db;
}

.form input:not([type=submit]):hover,
.form textarea:hover {
    background-color: #ecf0f1;
}

.form input:not(:last-child) {
    margin-top: 5px;
    margin-bottom: 20px;
}

.required {
    padding-left: 5px;
    font-size: 0.7em;
    color: red;
}

.form input[type=submit] {
    font-family: Montserrat, sans-serif;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px;
    color: white;
    background-color: #34495e;
}

.form input[type=submit]:hover {
    background-color: #2980b9;
}

.error {
    margin-top: -10px;
    margin-bottom: 10px;
    color: #d63031;
    font-size: 0.75em;
}

.idError {
    color: white;
    background-color: #d44848;
    font-size: 0.8em;
    padding: 10px 10px;
    margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/*                          Formulaire nouvelle liste                         */
/* -------------------------------------------------------------------------- */

#newList {
    margin-bottom: 20px;
}

textarea {
    font-family: Montserrat, sans-serif;
    font-size: 0.9em;
    resize: none;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #2c3e50;
    margin-top: 5px;
    margin-bottom: 20px;
}

textarea:focus {
    border-color: #2980b9;
    box-shadow: 0px 0px 1px 1px #3498db;
}

#reservationInfo {
    grid-column: 2;
    justify-self: center;
    margin-top: 20px;
}

/* -------------------------------------------------------------------------- */
/*                           Formulaire modif liste                           */
/* -------------------------------------------------------------------------- */

#listModTitle {
    margin-bottom: 10px;
}

#listModWrapper {
    grid-row: 4;
    grid-column: 2;
}

/* -------------------------------------------------------------------------- */
/*                               Liste de listes                              */
/* -------------------------------------------------------------------------- */

#content {
    justify-self: center;
    padding: 1.5em;
    grid-row: 3/5;
    grid-column: 2;
    display: flex;
    flex-flow: column;
}

#content>h1 {
    margin: 0 0 0.5em 0;
    align-self: center;
}

#listListWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.list {

    max-width: 40%;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 15px;
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
}

.list:hover {
    box-shadow: 1px 1px 12px #95a5a6;
    border-color: #2980b9;
    background-color: #95a5a6;
}

.list>section:not(:last-child) {
    padding-bottom: 5px;
}

.listTitle {
    font-size: 1.1em;
}

.listDesc {
    font-size: 0.85em;
}

.listExp>i {
    margin-right: 5px;
}

/* -------------------------------------------------------------------------- */
/*                                    Liste                                   */
/* -------------------------------------------------------------------------- */

#listWrapper {
    align-self: center;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#listHeader {
    padding: 1em;
    margin-bottom: 1.5em;
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
}

#listHeader>section:not(:last-child) {
    padding-bottom: 5px;
}

.listContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itemLink {
    color: black;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: calc(300px - 30px);
    width: 100%;
}

.itemWrapper {
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1.5em;
    width: 200px;
    height: 300px;
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
}

.itemWrapper:hover {
    box-shadow: 1px 1px 12px #95a5a6;
    border-color: #2980b9;
    background-color: #bdc3c7;
}

.itemWrapper:hover img {
    opacity: 0.7;
}

.item {
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.itemReserve::after {
    writing-mode: sideways-lr;
    font-size: 2em;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.5;
}

.itemInfo {
    padding-top: 8px;
}

.tarif {
    padding-top: 5px;
    color: #3498db;
}

.offer {
    text-align: center;
    padding: 5px;
    height: 30px;
    width: 100%;
    background-color: #3498db;
    color: white;
    margin-top: auto;
}

.offer:hover {
    background-color: #2c3e50;
}

.itemImg {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
}

.itemImg>img {
    max-width: 100%;
    max-height: 100%;
}

#modifList {
    margin-bottom: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px;
    color: white;
    background-color: #34495e;
}

#modifList:hover {
    background-color: #2980b9;
}

.reserved {
    color: white;
    width: 100%;
    margin-top: auto;
    padding: 5px;
    background-color: #636e72;
}

#listMessageForm {
    display: flex;
    flex-flow: column;
    align-items: center;
    grid-row: 5;
    grid-column: 2;
}

#listMessageForm>form {
    margin-top: 0;
}

#listMessages {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 0 1em 0;
    grid-row: 6;
    grid-column: 2;
}

.message {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-flow: column;
    margin-bottom: 8px;
    padding: 10px 20px 10px 20px;
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
}

.messageName {
    font-size: 1.2em;
}

.messageTxt {
    word-wrap: break-word;
}

.message>span:not(:last-child) {
    margin-bottom: 8px;
}

.messageDate {
    color: #7f8c8d;
}

/* -------------------------------------------------------------------------- */
/*                               Modifier liste                               */
/* -------------------------------------------------------------------------- */

#linkList {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding: 10px;
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}

#linkList i {
    font-size: 1.2em;
    color: #EA2027;
}

#linkList a {
    color: #2980b9;
}

#modListContent {
    justify-self: center;
    padding: 1.5em;
    grid-row: 3/5;
    grid-column: 2;
    display: flex;
    flex-flow: column;
}

.itemActions {
    text-align: center;
    padding: 5px;
    height: 30px;
    width: 100%;
    background-color: #3498db;
    color: white;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.itemActions>a,
.itemActions>form {
    color: white;
    width: 20%;
}

.deleteItem>button {
    color: white;
    background-color: #3498db;
    border: none;
}

.itemActions>a:hover,
.deleteItem>button:hover {
    cursor: pointer;
    color: #2d3436;
}

.cagnotteItem.cagnotteGrise {
    color: #2d3436;
}

.cagnotteItem.cagnotteGrise:hover {
    color: white;
}


#listModMenu {
    width: 250px;
    position: sticky;
    top: 75px;
    overflow: auto;
    grid-column: 1;
    grid-row: 3;
    margin-left: auto;
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 50% 50%;
}

#listModMenu>a,
#listModMenu>p,
#listModMenu>form,
#listModMenu>button {
    color: #2d3436;
    margin: 0 1.5px 3px 1.5px;
    border: 1px solid #2d3436;
    text-align: center;
    background-color: #dfe6e9;
}

.listButton {
    font-family: Montserrat, sans-serif;
    color: #2d3436;
    background-color: #dfe6e9;
    border: none;
}

#listModMenu>a:hover,
#listModMenu>form:hover>button,
#listModMenu>button:hover {
    cursor: pointer;
    color: #0984e3;
}

#listModMenu>a>i {
    font-size: 2.5em;
    padding: 8px 4px 4px 4px;
}

.listButton>i {
    font-size: 3em;
    padding: 8px 4px 4px 4px;
}

#listModMenu>a:not(#listNum)>p {
    margin: 0;
    font-size: 0.75em;
    padding: 4px 0 5px 0;
}

.listButton>p {
    font-size: 0.9em;
    margin: 0;
    padding: 4px 0 5px 0;
}

#listNum {
    padding: 5px 0 5px 0;
    grid-row: 1;
    grid-column: 1/3;
}

#publicInfo {
    padding: 5px;
    grid-column: 1/3;
    font-size: 0.75em;
}

/* -------------------------------------------------------------------------- */
/*                         Modal URL partage de liste                         */
/* -------------------------------------------------------------------------- */
#URLModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.modalIsOpen #header,
.modalIsOpen #navigation,
.modalIsOpen #listModMenu,
.modalIsOpen #modListContent,
.modalIsOpen #content {
    filter: blur(10px);
}

#modalContent {
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
    width: 500px;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Montserrat, sans-serif;
}

#modalContent button {
    outline: none;
    border: 1px solid #2c3e50;
    border-radius: 3px;
    color: white;
    background-color: #0984e3;
}

#modalContent button:hover {
    cursor: pointer;
    background-color: #2c3e50;
}

#modalUp {
    padding: 5px;
    display: flex;
    margin-bottom: 10px;
}

#closeModal {
    align-self: flex-start;
    margin-bottom: auto;
    padding: 3px 8px;
}

#urlCopy {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

#urlCopy>input {
    width: 90%;
    margin-right: 5px;
    font-family: Montserrat, sans-serif;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #2c3e50;
}

#copyButton {
    height: 30px;
    width: 30px;
}

/* -------------------------------------------------------------------------- */
/*                              Détail d'un item                              */
/* -------------------------------------------------------------------------- */

.itemDetail {
    align-self: center;
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-width: 90%;
    text-align: center;
}

.itemDetail>.itemImg {
    padding-bottom: 12px;
}

.itemDetail>.itemDesc {
    padding-top: 10px;
    padding-bottom: 10px;
}

.itemDetail>.tarif {
    padding-bottom: 10px;
}

.reservationMessage {
    display: flex;
    flex-flow: column;
    margin-bottom: 8px;
    margin-top: 1em;
    padding: 10px 20px 10px 20px;
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
}

.itemMessage {
    padding-top: 8px;
}

.itemDetail>#reserveLink {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px 15px;
    color: white;
    background-color: #34495e;
}

.itemDetail>#reserveLink:hover {
    background-color: #2980b9;
}

.urlHeader {
    margin: 0 0 5px 0;
}

.itemURLDiv {
    margin-bottom: 10px;
}

.itemURL {
    color: #2980b9;
}

.backButton {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 175px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px;
    color: white;
    background-color: #34495e;
}


#content>.backButton {
    margin-bottom: 20px;
    margin-top: -5px;
}

.backButton:hover {
    background-color: #2980b9;
}

/* -------------------------------------------------------------------------- */
/*                              Page utilisateur                              */
/* -------------------------------------------------------------------------- */

#userPage {
    grid-column: 2;
    justify-self: center;
    background-color: #dfe6e9;
    border-radius: 3px;
    border: 1px solid #2c3e50;
    padding: 20px;
    margin-top: 1.5em;
}

#profileHeader {
    margin: 0 0 20px 0;
}

#passwordButton {
    padding: 10px;
    color: white;
    background-color: #34495e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

#passwordButton:hover {
    background-color: #2980b9;
}

#messageBox.loginMessage {
    grid-column: 2;
    margin-top: 1.5em;
    margin-bottom: 0; 
    max-width: 50%;
    justify-self: center;  
}

/* -------------------------------------------------------------------------- */
/*                      Media queries pour le responsive                      */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
    #wrapper {
        grid-template-columns: 2.5% 95% 2.5%;
    }

    #navigation {
        flex-wrap: wrap;
    }

    #content {
        max-width: 95%;
        margin-bottom: 15px;
    }

    #listModMenu {
        grid-column: 2;
        grid-row: 3;
        margin-right: auto;
        position: relative;
        top: 0;
    }

    #modListContent {
        grid-row: 4;
    }
}

@media only screen and (max-width: 750px) {
    #navigation {
        justify-content: center;
        position: relative;
    }

    #navigation>a:last-of-type {
        margin-left: 0;
    }

    .container {
        padding-top: 15px;
    }

    #navigation>a,
    #navigation>button {
        width: 100%;
        border-bottom: 1px solid #2c3e50;
        height: 45px;
    }

    #navigation>a:first-child {
        border-top: 1px solid #2c3e50;
    }

}